/* CSS */
body {
  margin:0px;
}
main {
  background-color: #D9653B;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
}
h1 {
  margin-bottom:0px;
  color:#262626;
  font-family: 'Lato', sans-serif;
  font-size:32px;
}
h2 {
  margin-top:0px;
  font-size:20px;
  color:#D94625;
  font-family: Arial, sans-serif;
}

.card {
  width:400px;
  padding:32px;
  background-color: #D9BDAD;
  border-radius:10px;
  text-align: center;
  
  /* filter: drop-shadow(5px 5px 3px black); */
}
.profile {
  width:35%;
  height:35%;
  border-radius:50%;
}

.links {
  display: flexbox;
  flex-direction: row;
  align-content: center;
}

.links a {
  margin: 8px;
}
.links a img {
  width: 50px;
  height: 50px;
}
